* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
  color: #cdd6f4;
  background: transparent;
}

window#waybar {
  background-color: rgba(17, 17, 27, 0.9);
  border-radius: 12px;
  padding: 2px;
}

#workspaces button {
  background-color: #1e1e2e;
  border-radius: 8px;
  padding: 0 8px;
  margin: 0 2px;
  color: #89b4fa;
}

#workspaces button.active {
  color: #cba6f7;
  border-bottom: 2px solid #cba6f7;
}

#custom-media,
#custom-notifications,
#pulseaudio,
#bluetooth,
#keyboard-state,
#clock {
  background-color: #1e1e2e;
  border-radius: 8px;
  margin: 0 4px;
  padding: 0 10px;
}

#custom-notifications {
  color: #f2cdcd;
}

#pulseaudio {
  color: #f5c2e7;
}

#bluetooth {
  color: #94e2d5;
}

#keyboard-state {
  color: #89dceb;
}

#clock {
  color: #f5c2e7;
}

tooltip {
  background: #1e1e2e;
  color: #cdd6f4;
  border-radius: 8px;
}
